.dialog {
  display: flex;
  flex-direction: column;
  width: 400px;

  &__header {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

