.table {
  width: 100%;
}

.mat-header-cell {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.mat-column-icon {
  width: 50px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
